<!--------------------------->
<!--                       -->
<!--     ENFERMEIROS       -->
<!--                       -->
<!--------------------------->

<label>Enfermeiros</label>
<ul id="enfermeiros-list"></ul>
<!-- Begin enfermeiro modal -->
<div
  class="modal fade"
  id="enfermeiroModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="enfermeiroModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-wider" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="enfermeiroModalLabel">
          Selecione um enfermeiro a adicionar
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Cancelar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input
            id="enfermeiro-search"
            type="text"
            class="form-control"
            placeholder="Pesquisar..."
            aria-label="Pesquisar..."
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button
              id="enfermeiro-search-submit"
              class="btn btn-outline-secondary"
              type="button"
            >
              Pesquisar
            </button>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Especialidade</th>
              </tr>
            </thead>
            <tbody id="enfermeiro-results"></tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End enfermeiro modal -->

<!--------------------------->
<!--                       -->
<!--       PRODUTOS        -->
<!--                       -->
<!--------------------------->

<label>Produtos da receita</label>
<ul id="produtos-list"></ul>
<!-- Begin produto modal -->
<div
  class="modal fade"
  id="produtoModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="produtoModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-wider" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="produtoModalLabel">
          Selecione um produto a adicionar
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Cancelar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input
            id="produto-search"
            type="text"
            class="form-control"
            placeholder="Pesquisar..."
            aria-label="Pesquisar..."
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button
              id="produto-search-submit"
              class="btn btn-outline-secondary"
              type="button"
            >
              Pesquisar
            </button>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Descrição</th>
              </tr>
            </thead>
            <tbody id="produto-results"></tbody>
          </table>
        </div>
        <h5>Se o produto não existe, crie-o</h5>
        <div class="form-group">
          <label for="produto-titulo">Título</label>
          <input
            type="text"
            class="form-control"
            id="produto-titulo-input"
            placeholder="Título..."
          />
        </div>
        <div class="form-group">
          <label for="produto-descricao">Descrição</label>
          <input
            type="text"
            class="form-control"
            id="produto-descricao-input"
            placeholder="Descrição..."
          />
        </div>
        <button id="create-produto" class="btn btn-success">
          Criar e adicionar
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
<button
  type="button"
  class="btn btn-outline-warning"
  data-toggle="modal"
  data-target="#enfermeiroModal"
>
  Adicionar enfermeiro
</button>
<button
  type="button"
  class="btn btn-outline-warning"
  data-toggle="modal"
  data-target="#produtoModal"
>
  Adicionar produto
</button>
<!-- End produto modal -->
