<button type="submit" class="btn btn-success">Atualizar dados</button>
<button
  type="button"
  class="btn btn-danger"
  data-toggle="modal"
  data-target="#delModal"
>
  Eliminar
</button>
<div
  class="modal fade"
  id="delModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="delModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delModalLabel">
          Tem a certeza de que quer eliminar este registo?
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Cancelar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Esta ação é irreversível! Ao clicar em 'Eliminar', este registo será
        eliminado permanentemente do sistema.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <a class="btn btn-danger" href="{{ del_uri }}" role="button"
          >Eliminar</a
        >
      </div>
    </div>
  </div>
</div>
