<div class="form-group">
  <label for="inputCuidado">Cuidado</label>
  <input
    type="text"
    class="form-control"
    id="inputCuidado"
    placeholder="Cuidado..."
    value="{{ cuidado_value }}"
    name="cuidado"
  />
</div>
<div class="form-group">
  <label for="inputReceita">Receita</label>
  <input
    type="text"
    class="form-control"
    id="inputReceita"
    placeholder="Receita..."
    value="{{ receita_value }}"
    name="receita"
  />
</div>
<input type="hidden" value="{{ id_receita }}" name="idreceita"/>
