* {
  margin: 0;
  padding: 0;
}

body {
  background: #343A40
}

label {
  color: white;
}

.bg-nav {
  background: #004472;
  box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-nav-admin {
  background: #850000;
  box-shadow: 0 4px 8px 0 #000, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paginacao {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.paginacao a:not(a[rel="next"]):not(a[rel="prev"]) {
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  text-decoration: none;
  border: 2px solid transparent;
  color: white;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.paginacao a:not(a[rel="next"]):not(a[rel="prev"]):hover {
  background: rgb(0, 68, 114);
  color: white;
}

.paginacao a[rel="next"], .paginacao a[rel="prev"] {
  color: #31A2B8;
  text-align: center;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  border: 2px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.paginacao a[rel="next"]:hover, .paginacao a[rel="prev"]:hover {
  background: #31A2B8;
  color: white;
}

.paginacao strong {
  background: rgb(0, 68, 114);
  color: white;
  cursor: default;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid rgb(0, 68, 114);
}

.table-link {
  display: inline-block;
  color: #31A2B8;
  text-decoration: none;
}

.table-link:hover {
  color: white;
  text-decoration: none;
}

.table-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: all .1s;
}

.table-link:hover::after {
  color: white;
  width: 100%;
}

.disabled-link {
  color: #bebebe;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}

.disabled-link:hover {
  color: #bebebe;
  text-decoration: none;
}

.modal-wider {
  max-width: 1000px;
}

.red {
  color: rgb(172, 0, 0);
}

.green {
  color: rgb(0, 126, 0);
}

.gray-default-cursor {
  color: #bebebe;
  cursor: default;
}

.removable-item {
  cursor: pointer;
  color: #bebebe;
  list-style-type: none;
}
