<div class="container">
  {{&alert}}
  <form id="detailForm" action="{{ action_uri }}" method="POST">
    <div class="form-group">
      <label for="inputData">Data</label>
      <input
        type="text"
        class="form-control"
        id="inputData"
        placeholder="Data..."
        value="{{ data_value }}"
        name="data"
      />
    </div>
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="checkEstado"
        name="estado"
        {{ estado_value }}
      />
      <label class="form-check-label" for="checkEstado">Terminada</label>
    </div>
    <div class="form-group">
      <label for="medico">Médico</label>
      <select id="medico" class="form-control" name="medico" value="{{ medico_value }}">
        {{#medicos}}
        <option value="{{ id }}" {{ selected }}>
          {{ nome }}
        </option>
        {{/medicos}}
      </select>
    </div>
    <div class="form-group">
      <label for="utente">Utente</label>
      <select id="utente" class="form-control" name="utente" value="{{ utente_value }}">
        {{#utentes}}
        <option value="{{ id }}" {{ selected }}>
          {{ nome }}
        </option>
        {{/utentes}}
      </select>
    </div>
    {{&receita_form_include}}
    {{&modals_include}}
    {{&form_footer_include}}
    <!-- Inputs com informação JSON sobre produtos e enfermeiros. -->
    <input id="produtos-info" type="hidden" value="{{ produtos_json }}"/>
    <input id="enfermeiros-info" type="hidden" value="{{ enfermeiros_json }}"/>
    <input id="produtos-tosend" type="hidden" value="[]" name="produtos"/>
    <input id="enfermeiros-tosend" type="hidden" value="[]" name="enfermeiros"/>
  </form>
</div>
