<div class="container">
  <form action="{{ action_uri }}" method="POST">
    <div class="form-group">
      <label for="inputName">Nome</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        placeholder="Nome"
        value="{{ nome_value }}"
        name="nome"
      />
    </div>
    <div class="form-group">
      <label for="inputName">Número de Utente</label>
      <input
        type="number"
        class="form-control"
        id="inputName"
        placeholder="Número de Utente..."
        value="{{ num_utente_value }}"
        name="numutente"
      />
    </div>
    {{&morada_form_include}}
    <button type="submit" class="btn btn-success">Atualizar dados</button>
  </form>
</div>
